@media only screen and (max-width: 600px) {
	.carousel-item__video {
		width: 100%;
	}

	.modal-contacts {
		.modal-content {
			padding: 20px 0;
		}
	}

	.modal-header .close {
		padding: 0rem 1rem;
	}

	// .btn-round {
	// 	top: 67px;
	// }

}
