/* ============= HEADER ============= */

header {
	position: absolute;
	width: 100%;
	margin: auto;
	z-index: 1;

	.block-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1267px;
		padding: 20px;
	}
}

.nav {
	&__menu {
		display: flex;
		margin: 0 3vw;
	}

	&__ancor {
		padding: 5px 15px;
		color: #fff;
		font-family: 'GothamPro Light';
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 22px;
		text-align: center;
		white-space: nowrap;

		&:hover {
			color: #50E4D0;
		}
	}
}

.logo {
	max-width: 156px;
	min-width: 100px;

	img {
		width: 100%;
	}
}

.settings-block {
	display: flex;
}

.lang__item-selected {
	padding: 0 13px;
}

.lang {
	display: none;
	position: absolute;
	left: 13px;
	background: #fff;
	margin: 17px 0;
	padding: 6px 13px;
	border-radius: 3px;
	box-shadow: 0 14px 59px 0 rgba(16,162,255,0.07);

	&-block {
		position: relative;
		margin: 0 10px;

		&::before {
			position: absolute;
			top: 3px;
			right: -10px;
			content: '';
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 9px solid #fff;
		}

		&.open {
			&::before {
				transform: rotate(180deg);
			}
		}
	}

	&__item {
		text-transform: uppercase;
		color: #919191;
		font-family: 'GothamPro Regular';
		font-size: 13px;
		font-weight: 500;
		line-height: 25px;
		cursor: pointer;
		text-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.5);

		&-selected {
			color: #fff;
			font-family: 'GothamPro Regular';
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 1px;
			line-height: 16px;
			text-align: center;
			text-transform: capitalize;
			cursor: pointer;
		}

		&.selected,
		&:hover {
			color: #0c1721
		}
	}
}

.right-side {
	display: flex;
	align-items: center;
}

/* ============= HEADER END ============= */
